default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FunctionalStabilityContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
            kernel:
                class: App\Shared\Kernel
