{
    http_port 8080
    # Debug
    {$CADDY_DEBUG}

    auto_https off
}

http://localhost {
    log
    root * /srv/app/public

     @options {
            method OPTIONS
        }
        respond @options 204

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
